[Desktop Entry]
Version=1.0
Name=Fire ebiz
Comment=Shoping on the Web
GenericName=web biz
Exec=firefox --no-remote -P ebiz %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firebiz.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;
StartupWMClass=Firefox
StartupNotify=true
X-Ayatana-Desktop-Shortcuts=NewWindow;

[NewWindow Shortcut Group]
Name=Open a New Window
Exec=firefox -new-window 
TargetEnvironment=Unity
